In [19]:
import pandas as pd

orders="orders_and_shipments.csv"
df=pd.read_csv(orders)

df[' Order YearMonth '] = pd.to_datetime(df[' Order YearMonth '], format='%Y%m')
df.head()

,Order ID,Order Item ID,Order YearMonth,Order Year,Order Month,Order Day,Order Time,Order Quantity,Product Department,Product Category,...,Customer Country,Warehouse Country,Shipment Year,Shipment Month,Shipment Day,Shipment Mode,Shipment Days - Scheduled,Gross Sales,Discount %,Profit
0,3535,8793,2015-02-01,2015,2,21,14:07,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,2,27,Standard Class,4,400,0.25,200
1,4133,10320,2015-03-01,2015,3,2,07:37,1,Fan Shop,Fishing,...,Brazil,Puerto Rico,2015,3,6,Standard Class,4,400,0.09,200
2,7396,18517,2015-04-01,2015,4,18,22:47,1,Fan Shop,Fishing,...,Mexico,Puerto Rico,2015,4,20,Standard Class,4,400,0.06,200
3,11026,27608,2015-06-01,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.15,200
4,11026,27609,2015-06-01,2015,6,10,22:32,1,Fan Shop,Fishing,...,Denmark,Puerto Rico,2015,6,12,Standard Class,4,400,0.13,200

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30871 entries, 0 to 30870
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Order ID                     30871 non-null  int64
 1    Order Item ID               30871 non-null  int64
 2    Order YearMonth             30871 non-null  datetime64[ns]
 3    Order Year                  30871 non-null  int64
 4    Order Month                 30871 non-null  int64
 5    Order Day                   30871 non-null  int64
 6   Order Time                   30871 non-null  object
 7   Order Quantity               30871 non-null  int64
 8   Product Department           30871 non-null  object
 9   Product Category             30871 non-null  object
 10  Product Name                 30871 non-null  object
 11   Customer ID                 30871 non-null  int64
 12  Customer Market              30871 non-null  object
 13  Customer Region              30871 non-null  object
 14  Customer Country             30871 non-null  object
 15  Warehouse Country            30871 non-null  object
 16  Shipment Year                30871 non-null  int64
 17  Shipment Month               30871 non-null  int64
 18  Shipment Day                 30871 non-null  int64
 19  Shipment Mode                30871 non-null  object
 20   Shipment Days - Scheduled   30871 non-null  int64
 21   Gross Sales                 30871 non-null  int64
 22   Discount %                  30871 non-null  object
 23   Profit                      30871 non-null  int64
dtypes: datetime64[ns](1), int64(13), object(10)
memory usage: 5.7+ MB

In [24]:
df.nunique()

Order ID                       11072
 Order Item ID                 30871
 Order YearMonth                  36
 Order Year                        3
 Order Month                      12
 Order Day                        31
Order Time                      1440
Order Quantity                     5
Product Department                11
Product Category                  49
Product Name                     113
 Customer ID                    7987
Customer Market                    5
Customer Region                   23
Customer Country                 139
Warehouse Country                  2
Shipment Year                      3
Shipment Month                    12
Shipment Day                      31
Shipment Mode                      4
 Shipment Days - Scheduled         4
 Gross Sales                     101
 Discount %                       18
 Profit                           78
dtype: int64

In [31]:
df['Order Quantity'].value_counts()

Order Quantity
1    16689
5     3614
2     3563
3     3538
4     3467
Name: count, dtype: int64

In [25]:
df['Customer Market'].value_counts()

Customer Market
LATAM            9118
Europe           8624
Pacific Asia     6521
North America    4563
Africa           2045
Name: count, dtype: int64

In [27]:
df['Warehouse Country'].value_counts()

Warehouse Country
USA            18997
Puerto Rico    11874
Name: count, dtype: int64